body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}

.orange{color: orange;}
.pera{text-align: justify;}

.section{
    display: flex;
}

.half{
    width: 50%;
    
    padding: 5%;
}
.half img{width: 80%;}
.link{
    text-decoration: none;
    color: wheat;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top{
    background-image: url(Images/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.part2{
    background-image: url(Images/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expriences{
    box-shadow: 10px 10px 40px gray ;
    width: 40%;
    margin: 5% 5%;
    padding: 5%;
    border-radius: 10px;
}
.part3{
    background-image: url(Images/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#side-bar1{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,orange) ;
    border-image-slice: 1;
}
#side-bar2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
    footer p{
        text-align: center;
    }